{% include 'header.jinja' %}

from __future__ import annotations

from pydantic import BaseModel, AnyUrl, EmailStr, Field, ConfigDict
from deprecated import deprecated
from .enums import *
from typing import Optional, Literal
import re
import datetime

def _camelcase(string):
    """ Convert string into camel case.

    Args:
        string: String to convert.

    Returns:
        string: Camel case string.

    """

    string = re.sub(r"^[\-_\.]", '', str(string))
    if not string:
        return string
    return (str(string[0]).lower()
            + re.sub(r"[\-_\.\s]([a-z])",
                    lambda matched: str(matched.group(1)).upper(),
                    string[1:]))

class ApplaudModel(BaseModel):
    model_config = ConfigDict(
        alias_generator=_camelcase,
        populate_by_name=True,
        # 允许额外字段，这样 API 返回的未知字段不会导致验证失败
        extra='allow',
    )

{% for schema in schemas %}
{{ schema }}
{% endfor %}

